{% extends "base.html" %}
{% block link %}
{% endblock %}

{% block title %}To do{% endblock %}

{% block content %}

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-4">
                        <div>
                            <img src="{{ movie.img_url }}" alt="" width="150px" height="250px"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ movie.title }}
                                    </h5>
                                    <h6>
                                        {{ movie.releaseYear }}
                                    </h6>
                                    <p class="proile-rating">Length: <span>{{ movie.runtimeMinutes }}</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Plot (Spoilers)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        {% if session.logged_in %}
                        <div class="input-group">
                            {% if movie.idMovie in session.user.liked.keys() %}
                                <button type="submit" name="like_button" value="unliked {{ movie.idMovie }}" class="btn btn-outline-danger active">Liked</button>
                            {% else %}
                                <button type="submit" name="like_button" value="liked {{ movie.idMovie }}" class="btn btn-outline-danger">Like</button>
                            {% endif %}
                            {% if movie.idMovie in session.user.watched.keys() %}
                                <button type="submit" class="btn btn-outline-success active">Watched</button>
                            {% else %}
                                <button type="submit" class="btn btn-outline-success">Watched</button>
                            {% endif %}
                        </div>
                        {% else %}
                        Log in to like or mark movie as watched.
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Adult movie</label>
                                            </div>
                                            {% if movie.isAdult == 1 %}
                                                <div class="col-md-6">
                                                    <p>Yes</p>
                                                </div>
                                            {% else %}
                                                <div class="col-md-6">
                                                    <p>No</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Rating</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ movie.rating }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Number of votes</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ movie.numVotes }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>IMDb</label>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="https://https://www.imdb.com/title/{{ movie.movieId }}/">https://https://www.imdb.com/title/{{ movie.movieId }}/</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>To do</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>To even more do</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>{{ movie.title }} ({{movie.releaseYear}})</label><br/>
                                        <p>{{ movie.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
</div>
{% endblock %}