{% extends "base.html" %}
{% block link %}
{% endblock %}

{% block title %}RG: {{ movie.title }}{% endblock %}

{% block content %}

<div class="container emp-profile">
            <form method="post">
                <div class="row">
                    <div class="col-md-2">
                        <div>
                            <img src="{{ movie.img_url }}" alt="" width="150px" height="250px"/>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        {{ movie.title }}
                                    </h5>
                                    <h6>
                                        {{ movie.releaseYear }}
                                    </h6>
                                    <p class="proile-rating">Length: <span>{{ movie.runtimeMinutes }}</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Plot (Spoilers)</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        {% if session.logged_in %}
                        <div class="input-group">
                            {% if movie.idMovie in session.user.watched.keys() %}
                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                                    Opinion
                                </button>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                  <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">Add opinion</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                      </div>
                                      <div class="modal-body">
                                          <div class="row">
                                              <div class="col-sm-1">
                                              </div>
                                              <div class="col-md-8">
                                                {% if 'opinion' in movie.keys() %}
                                                <label for="Textarea1" style="padding-left: 10px;">Write your opinion here</label>
                                                <textarea name="opinion" class="form-control" id="Textarea1" rows="5" style="padding-left: 10px; padding-right: 10px;">{{ movie.opinion }}</textarea>
                                                {% else %}
                                                <label for="Textarea2" style="padding-left: 10px;">Write your opinion here</label>
                                                <textarea name="opinion" class="form-control" id="Textarea2" rows="5" style="padding-left: 10px; padding-right: 10px;"></textarea>
                                                {% endif %}
                                              </div>
                                              <div class="col-sm-1">
                                                {% if 'opinion' in movie.keys() %}
                                                  <label for="grade1">Rate(1-10)</label>
                                                  <input name="rate" id="grade1" type="number" width="5" min="1" max="10" value="{{ movie.opinion_rating }}">
                                                {% else %}
                                                  <label for="grade2">Rate(1-10)</label>
                                                  <input name="rate" id="grade2" type="number" width="5" min="1" max="10">
                                                {% endif %}
                                              </div>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" name="save_button" value="save_opinion" class="btn btn-primary">Save changes</button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                            {% endif %}
                            {% if movie.idMovie in session.user.liked %}
                                <button type="submit" name="save_button" value="unliked {{ movie.idMovie }}" class="btn btn-outline-danger active">Liked</button>
                            {% else %}
                                <button type="submit" name="save_button" value="liked {{ movie.idMovie }}" class="btn btn-outline-danger">Like</button>
                            {% endif %}
                            {% if movie.idMovie in session.user.watched.keys() %}
                                <button type="submit" name="save_button" value="unwatched {{ movie.idMovie }}" class="btn btn-outline-success active">Watched</button>
                            {% else %}
                                <button type="submit" name="save_button" value="watched {{ movie.idMovie }}" class="btn btn-outline-success">Watched</button>
                            {% endif %}
                        </div>
                        {% else %}
                        Log in to like or mark movie as watched.
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Adult movie</label>
                                            </div>
                                            {% if movie.isAdult == 1 %}
                                                <div class="col-md-6">
                                                    <p>Yes</p>
                                                </div>
                                            {% else %}
                                                <div class="col-md-6">
                                                    <p>No</p>
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Rating</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ movie.rating }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>Number of votes</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>{{ movie.numVotes }}</p>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>IMDb</label>
                                            </div>
                                            <div class="col-md-6">
                                                <a href="https://https://www.imdb.com/title/{{ movie.movieId }}/">https://https://www.imdb.com/title/{{ movie.movieId }}/</a>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label>To do</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>To even more do</p>
                                            </div>
                                        </div>
                            </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>{{ movie.title }} ({{movie.releaseYear}})</label><br/>
                                        <p>{{ movie.description }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
</div>
{% endblock %}