{% extends "base.html" %}
{% block link %}
<script>
function updateTextInput(val) {
          document.getElementById('textInput').value=val;
        }
</script>
{% endblock %}

{% block title %}Random Generator{% endblock %}

{% block content %}
<img src="static/movie_gen_pulp.jpg" alt="Movie-Generator Logo" width="400" height="300" style="display: block; margin-left: auto; margin-right: auto; margin-top: 0px; margin-bottom: 20px;">

<form method="post">
    <div class="container-xl" style="padding-bottom: 50px; height: 100px;">
        <div class="row">
            <div class="col-sm-10">
                <label>Search movies by typing in the title, if you wish to search authors and directors type a: or d: before the name.</label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-10">
                <div class="input-group mb-5 input-lg" style="">
                  <input name="search" type="text" class="form-control input-lg" placeholder="Ex. search: Movie Name, a: Actor Name, d: Director Name" aria-label="Search" aria-describedby="basic-addon2">
                  <span class="input-group-btn">
                    <button class="btn btn-primary" name="search_button" value="search" type="submit">Search</button>
                  </span>
                  <span class="input-group-btn" style="padding-left: 40px;">
                    <strong>Don't know what to watch? Generate a random movie</strong>
                    <button class="btn btn-primary" name="search_button" value="generate" type="submit">Generate</button>
                  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-10">
            <label>Fill out the parameters for a slimmer search.</label>
        </div>
    </div>

    <div class="row bg-light" style="padding-top: 40px;">
        <div class="col-sm-2">
            <label style="padding-top: 25px; font-size: 23px;">Release year:</label>
        </div>
        <div class="col-sm-2">
            <label>From</label>
            <input name="release_year_from" type="number" class="form-control" placeholder="1915">
        </div>
        <div class="col-sm-2">
            <label> to</label>
            <input name="release_year_to" type="number" class="form-control" placeholder="2020">
        </div>
        <div class="col-sm-4">
            <label style="font-size: 23px;">Pick one or more genres: </label>
            <select name="select_genre" multiple class="form-control" id="exampleFormControlSelect">
                <option>Action</option>
                <option>Adult</option>
                <option>Adventure</option>
                <option>Animation</option>
                <option>Biography</option>
                <option>Comedy</option>
                <option>Crime</option>
                <option>Documentary</option>
                <option>Drama</option>
                <option>Family</option>
                <option>Fantasy</option>
                <option>Film-Noir</option>
                <option>History</option>
                <option>Horror</option>
                <option>Music</option>
                <option>Musical</option>
                <option>Mystery</option>
                <option>News</option>
                <option>Reality-TV</option>
                <option>Romance</option>
                <option>Sci-Fi</option>
                <option>Short</option>
                <option>Sport</option>
                <option>Talk-Show</option>
                <option>Thriller</option>
                <option>War</option>
                <option>Western</option>
            </select>
        </div>
    </div>
    <div class="row bg-light" style="padding-top: 40px;">
        <div class="col-sm-2">
            <label style="padding-top: 25px; font-size: 20px;">Duration: </label>
        </div>
        <div class="col-sm-2">
            <label>From</label>
            <input name="duration_from" type="number" class="form-control" placeholder="1915">
        </div>
        <div class="col-sm-2">
            <label> to</label>
            <input name="duration_to" type="number" class="form-control" placeholder="2020">
        </div>
        <div class="col-sm-4">
            <label style="font-size: 23px;">Directed by: </label>
            <input name="directed_by" class="form-control" type="text" placeholder="Ex. Quentin Tarantino">
        </div>
    </div>
    <div class="row bg-light" style="padding-top: 40px;">
        <div class="col-sm-2">
            <label style="padding-top: 25px; font-size: 20px;">Number of votes:</label>
        </div>
        <div class="col-sm-2">
            <label>From</label>
            <input name="num_of_votes_from" type="number" class="form-control" placeholder="1915">
        </div>
        <div class="col-sm-2">
            <label> to</label>
            <input name="num_of_votes_to" type="number" class="form-control" placeholder="2020">
        </div>
    </div>

    <div class="row bg-light" style="padding-top: 40px;">
        <div class="col-sm-2">
            <label style="padding-top: 25px; font-size: 20px; padding-left: 20px;">Rating:</label>
        </div>
        <div class="col-sm-2">
            <label>From</label>
            <input name="rating_from" type="number" class="form-control" placeholder="1915">
        </div>
        <div class="col-sm-2">
            <label> to</label>
            <input name="rating_to" type="number" class="form-control" placeholder="2020">
        </div>
    </div>

    <div class="row" style="padding-top: 60px;"></div>

    <!-- movies gets passed in as a list containing movie data dicts -->
    <ul class="list-unstyled">
        {% for movie in movies %}
            <div class="media border p-3">
                <img src="{{ movie.img_url }}" alt="{{ movie.title }} picture" class="mr-3 mt-3" style="width:150px;">
                 <div class="media-body" style="padding-left: 30px;">
                     <h2><a href="{{ url_for('movie', id=movie.idMovie)}}">{{ movie.title }}</a><small><i>  {{ movie.releaseYear}}</i></small></h2>
                     <a href="https://www.imdb.com/title/{{ movie.idMovie }}/">IMDb {{ movie.title }}</a>
                     <p> Length: {{ movie.runtimeMinutes }}min</p>
                     <p> Rating: <b>{{ movie.rating }}</b></p>
                     <p> Number of votes: <b>{{ movie.numVotes }}</b></p>
                     {% if movie.isAdult == 1 %}
                        <p> Child safe: No</p>
                     {% else %}
                        <p> Child safe: Yes</p>
                     {% endif %}
                     {% if session.logged_in %}
                         <div class="row float-right">
                             <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                 <div class="input-group">
                                     {% if movie.idMovie in session.user.liked.keys() %}
                                        <label class="btn btn-danger disabled">Liked</label>
                                     {% else %}
                                        <label class="btn btn-outline-danger disabled">Liked</label>
                                     {% endif %}
                                     {% if movie.idMovie in session.user.watched.keys() %}
                                        <label class="btn btn-success disabled">Watched</label>
                                     {% else %}
                                        <label class="btn btn-outline-success disabled">Watched</label>
                                     {% endif %}
                                 </div>
                             </div>
                         </div>
                     {% endif %}
                 </div>
            </div>
        {% endfor %}
    </ul>
</form>
{% endblock %}