{% extends "base.html" %}
{% block link %}
{% endblock %}

{% block title %}{{ user_data.username }}{% endblock %}

{% block content %}
<form method="post">
    <div class="container emp-profile max-width">
            <form method="post">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        Username: {{ user_data.username }}
                                    </h5>
                                    <h6>
                                        Email/Phone: {{ user_data.email }}
                                    </h6>
                                    <p class="proile-rating">Length: <span>Neki</span></p>
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Liked</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Watched</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                        <div class="row" style="padding-top: 15px;">
                                            <div class="col-md-6">
                                                <label>{{ liked|length }} liked movies</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p></p>
                                            </div>
                                        </div>
                                            <ul class="list-unstyled">
                                                {% for movie in liked %}
                                                    <div class="media border p-3">
                                                        <img src="{{ movie.img_url }}" alt="{{ movie.title }} picture" class="mr-3 mt-3" style="width:150px;">
                                                         <div class="media-body" style="padding-left: 30px;">
                                                             <h2><a href="{{ url_for('movie', id=movie.idMovie)}}">{{ movie.title }}</a><small><i>  {{ movie.releaseYear}}</i></small></h2>
                                                             <a href="https://www.imdb.com/title/{{ movie.idMovie }}/">IMDb {{ movie.title }}</a>
                                                             <p> Length: {{ movie.runtimeMinutes }}min</p>
                                                             <p> Rating: <b>{{ movie.rating }}</b></p>
                                                             <p> Number of votes: <b>{{ movie.numVotes }}</b></p>
                                                             {% if movie.isAdult == 1 %}
                                                                <p> Child safe: No</p>
                                                             {% else %}
                                                                <p> Child safe: Yes</p>
                                                             {% endif %}
                                                             {% if session.logged_in %}
                                                                 <div class="row float-right">
                                                                     <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                         <div class="input-group">
                                                                             {% if movie.idMovie in session.user.liked.keys() %}
                                                                                <label class="btn btn-danger disabled">Liked</label>
                                                                             {% else %}
                                                                                <label class="btn btn-outline-danger disabled">Liked</label>
                                                                             {% endif %}
                                                                             {% if movie.idMovie in session.user.watched.keys() %}
                                                                                <label class="btn btn-success disabled">Watched</label>
                                                                             {% else %}
                                                                                <label class="btn btn-outline-success disabled">Watched</label>
                                                                             {% endif %}
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             {% endif %}
                                                         </div>
                                                    </div>
                                                {% endfor %}
                                            </ul>
                                        </div>
                            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                                <div class="row" style="padding-top: 15px;">
                                            <div class="col-md-6">
                                                <label>{{ watched|length }} watched movies</label>
                                            </div>
                                            <div class="col-md-6">
                                                <p>.</p>
                                            </div>
                                </div>
                                <ul class="list-unstyled">
                                                {% for movie in watched %}
                                                    <div class="media border p-3">
                                                        <img src="{{ movie.img_url }}" alt="{{ movie.title }} picture" class="mr-3 mt-3" style="width:150px;">
                                                         <div class="media-body" style="padding-left: 30px;">
                                                             <h2><a href="{{ url_for('movie', id=movie.idMovie)}}">{{ movie.title }}</a><small><i>  {{ movie.releaseYear}}</i></small></h2>
                                                             <a href="https://www.imdb.com/title/{{ movie.idMovie }}/">IMDb {{ movie.title }}</a>
                                                             <p> Length: {{ movie.runtimeMinutes }}min</p>
                                                             <p> Rating: <b>{{ movie.rating }}</b></p>
                                                             <p> Number of votes: <b>{{ movie.numVotes }}</b></p>
                                                             {% if movie.isAdult == 1 %}
                                                                <p> Child safe: No</p>
                                                             {% else %}
                                                                <p> Child safe: Yes</p>
                                                             {% endif %}
                                                             {% if movie.idMovie in opinions %}
                                                                <p><b>My rating:</b> {{ movie.opinion_rating }}</p>
                                                                <b>My opinion:</b>
                                                                {% set opinionId = movie.idMovie %}
                                                                <p>{{ movie.opinion}}</p>
                                                             {% endif %}
                                                             {% if session.logged_in %}
                                                                 <div class="row float-right">
                                                                     <div class="btn-group btn-group-toggle" data-toggle="buttons">
                                                                         <div class="input-group">
                                                                             {% if movie.idMovie in session.user.liked.keys() %}
                                                                                <label class="btn btn-danger disabled">Liked</label>
                                                                             {% else %}
                                                                                <label class="btn btn-outline-danger disabled">Liked</label>
                                                                             {% endif %}
                                                                             {% if movie.idMovie in session.user.watched.keys() %}
                                                                                <label class="btn btn-success disabled">Watched</label>
                                                                             {% else %}
                                                                                <label class="btn btn-outline-success disabled">Watched</label>
                                                                             {% endif %}
                                                                         </div>
                                                                     </div>
                                                                 </div>
                                                             {% endif %}
                                                         </div>
                                                    </div>
                                                {% endfor %}
                                            </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</form>
{% endblock %}